#import os.path
#import minstrel

#set global $title = "Dashboard"
#set global $path = ""

#include $os.path.join(minstrel.TEMPLATES, "includes/header.tmpl")

DASH GOES HERE



#include $os.path.join(minstrel.TEMPLATES, "includes/footer.tmpl")
