@charset "utf-8";

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #333;
	background-color: #CCC;
}

#header {
	background-color: #65CAFE;
	height: 80px;
	background-image: url(../images/header_bg.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-attachment: fixed;
}

#version-text {
	font-style: italic;
	font-weight: bold;
	text-align: left;
	
}

#nav-container {
	background-color: #65CAFE;
	padding-top: 0em;
	padding-right: 0.5em;
	padding-bottom: 0em;
	padding-left: 0.5em;
	min-height: 2.6em;
	height:2.6em;
	border-top:		1px solid #CFDEFF;
}

#content-container {
	border-top: 1px solid #333;
	background-color: #D6D6D6;
	background-image: url(../images/content_bg.png);
}

#main-menu ul {
	display:block;
}

#search-menu {
	float: right;
	padding: .5em;
	font-weight: normal;
	font-style: italic;
	
}

#content {
	background-color:#FFF;
	margin-right: auto;
	margin-left: auto;
	min-width: 650px;
	min-height: 480px;
	width: 88%;
	padding: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}

#footer {
	background-color: #CEDBD1;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
	padding: 5px;
	text-align: center;
	font-size: 12px;
}